:root {
    --base_1: #FAFAFD;
    --base_2: #FFFFFF;
    --base_3: #E0E1E6;
    
    --highlight_1:#E61F23;
    --highlight_2: #FF5B5B;
    
    --vivid_1:#F33D3D;
    --vivid_2:#F99E3D;
    --vivid_3:#16C187;
    --vivid_4:#4FC9FF;
    --vivid_5:#383EF5;
    --vivid_6:#BA0DEC;

    --bg_darker:#070f1c;
    --bg_lighter:#1e293b;

    --text_darker: #000000;
    --text_lighter: #ffffff;

}